body{
background-image: url(https://harvestmoonbtn.com.br/assets/images/background.png);
}
.titulo{
    display:flex;
    justify-content: center;
}
.centralizar{
   
   background-image: url();
    background-color: rgb(255, 255, 255);
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}